*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height:100%;
    background: #e8e8e8;
}

.principal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.conteudo{
    width: 42vw;
    height: 25vw;
    border: 4px solid #999;
    background: #fff;
    position: relative;
}

.conteudo img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 2000ms;
}

.conteudo img.selected{
    opacity: 1;
}

.moldura-dois{
    width: 52vw;
    height: 32vw;
    background: #b1b1c3;
    border: 8px inset #5f6632;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.moldura-um{
    width: 60vw;
    height: 40vw;
    border: 20px inset #5d738b;
    background: transparent url(../../img/Textura.jpg);
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.footer{
    width: 100%;
    color: #979494;
    border-top: 1px solid #b1b1c388;
    font-size: 10pt;
    text-align: center;
    position: absolute;
    bottom:5px;
}

.footer footer a{
    text-decoration: none;
    color: #263C5F;
}

footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}